<div class="landing__bg">
  <div class="bg__overlay"></div>
</div>

<div class="container text-center pt-4 pb-4">
  <h1 class="header__content mt-4">A Thousand Recipes At Your Fingertips</h1>
  <hr>
</div>